body {
    background-color: rgb(0, 0, 0);
    color: rgb(191, 241, 245);
    text-align: center;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
}

.cell img {
    width: 36px;
    height: auto;
}

.floor {
    background-color: rgb(191, 241, 245);
}

.wall {
    background-color: rgb(243, 182, 51);
}

table {
    margin: auto;
}

.game-over {
    width: 350px;
    height: 200px;
    font-size: 35px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/hippie.png');
    background-repeat: no-repeat;
    background-position:bottom left;
    background-color: beige;
    border-radius: 50px;
    border: 19px solid rgb(243, 182, 51);
    color: rgb(73, 44, 121);
    position: absolute;
    top: 125px;
    left:50%;
    transform: translateX(-50%);
    padding: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.game-over h3{
    margin:0 auto 20px;
}

button {
    border: 2px solid rgb(73, 44, 121);
    border: 2px solid rgb(243, 182, 51);
    color: rgb(224, 250, 252);
    font-size: 25px;
    background-color:  rgb(73, 44, 121);
    border-radius: 20px;
    width:fit-content;
}


.hide {
    display: none;
}
